*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
ul {
    list-style-type: none;
    background-color: rgb(87, 14, 14);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}
#intro{
    height: 70vh;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding-top: 15%;
    background-color: rgb(71, 59, 59);
    color: white;
}
#projects{
    text-align: center;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    padding-top: 15px;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#container > div {
    background-color: rgb(5, 5, 44);
    margin: 20px;
    padding: 20px;
    color: white;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#profile-link{
    width: 100%;
    height: 70px;
    background-color: rgb(65, 59, 59);
    text-align: center;
}
#profile-link p a{
    text-decoration: none;
    color: white;
    display: inline;
    padding: 50px;
}
  